{% extends 'blank.server.view.html' %}
{% block content %}
<img src="/images/border.jpg" id="page-border" />
<div id="print-wrapper">
  <div class="form-print" id="print-head">
    <img src="/images/Jesus.png" alt="" id="shj"/>
    <h1>Archdiocese of Cebu</h1>
    <h1>Sacred Heart of Jesus Parish</h1>
    <h2>Pajac, Lapu-Lapu City</h2>
    <h2>Tel No: 505-0713</h2>
    <h3>Parish Canonical Erection: 14 June 1996</h3>
    <h3>Parish Feastday: May 1 &mdash; St. Joseph, the Worker and Protector</h3>
  </div>
  <div id="print">

    <div id="print-body">
        <h2 class="spacer">&nbsp;</h2>
        <section ui-view></section>

      <h3>&nbsp;</h3>
      <h3 class="text-center" id="priest-name">
        <img src="/images/signature.png" alt="" id="signature" width="420"/>
        <span>Rev Fr. Lito Redondo, MSC</span>
      </h3>
      <h3 class="text-center">Parish Priest</h3>
    </div>

    <div id="print-footer">
      <img src="/images/msc.png" alt="" id="msc"/>
      <p>The Sacred Heart of Jesus Parish, Pajac, Lapu-Lapu City is under the administration of the Missionaries of the Sacred Heart(MSC).
        It is an international congregation of Priests and Brothers founded in France on December ,1954 by Rev Fr. Jules Chevalier.
        It aims to make the Most Sacred Heart of Jesus be loved and known everywhere!
      </p>

    </div>

  </div>

</div>
{% endblock %}