body{
    zoom: 47%;
}

#page-border{
    width: 100%;
    position: absolute;
    z-index: -1;
    padding-top: 20px;
}

#print-wrapper{
    padding: 50px;
    padding-top: 80px;
    padding-left: 115px;
}

#shj{
    margin-left: 60px;
    margin-top: 30px;
}

#print-body{
    height: 1250px;
}

#print-body .print-values {
    border-bottom: solid #777 1px;
}

#print-body{
    line-height: 120%;
}

div{
    /*border: solid 1px blue;*/
}


#print-footer{
    padding-left: 100px;
    padding-right: 200px;
}