body{
    zoom: 47%;
}

#print-body{
    height: 1250px;
}

#print-body .print-values {
    border-bottom: solid #777 1px;
}

#print-body{
    line-height: 120%;
}

div{
    /*border: solid 1px blue;*/
}


