<section>

    <h1>Marriage Certificates <a data-ui-sref="marriages.create()" class="pull-right btn btn-info">Create</a></h1>
    <p class="input-group">
        <input type="text" placeholder="Search By Groom First Name or Groom Last Name" class="form-control" ng-model="vm.key"/>
          <span class="input-group-btn">
                <button ng-click="vm.search()" class="btn btn-default " type="button">Search</button>
          </span>
    </p>
  <table class="table table-striped">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birthday</th>
        <th>Minister</th>
        <th>Date Added</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    <tr data-ng-repeat="marriage in vm.marriages">
        <td><a data-ui-sref="marriages.view({ marriageId: marriage._id })">{{marriage.parties.groom.firstName}}</a></td>
        <td><a data-ui-sref="marriages.view({ marriageId: marriage._id })">{{marriage.parties.groom.lastName}}</a></td>
        <td>{{marriage.birthday | date:'mediumDate'}}</td>
        <td>{{marriage.minister.firstName}} {{marriage.minister.lastName}}</td>
        <td>{{marriage.created | date:'mediumDate'}}</td>
        <td>
            <a class="btn btn-info btn-sm" data-ui-sref="marriages.edit({ marriageId: marriage._id })">Edit</a>
            <a class="btn btn-primary btn-sm" href="/api/print/marriage/{{marriage._id}}">Print</a>
        </td>
        <td><a ng-click="vm.remove(marriage)" class="btn btn-danger btn-sm">Delete</a></td>
    </tr>
  </table>

  <div class="alert alert-warning text-center" data-ng-if="vm.marriages.$resolved && !vm.marriages.length">
    No Marriage Certicates
  </div>
</section>
