<h1 id="main-title" class="text-center">Certificate of Marriage</h1>
<h2 class="text-center marginN20">This is to certify</h2>
<h2 class="spacer"></h2>
<h2>That <span class="print-values blank-800 recipient-name">{{vm.marriage.parties.groom.firstName}} {{vm.marriage.parties.groom.lastName}}</span>
    , <span class="print-values">{{vm.age(vm.marriage,'groom')}} yrs old</span>
</h2>

<h2>A native of <span class="print-values blank-600">{{vm.marriage.parties.groom.birthplace}}</span> and a resident of
</h2>
<h2><span class="print-values blank-1200">{{vm.marriage.parties.groom.address}}</span></h2>

<h2>Child of
    <span class="print-values blank-childOf">{{vm.marriage.parties.groom.father.firstName}} {{vm.marriage.parties.groom.father.lastName}}
    </span>
    and  <span class="print-values  blank-childOf">{{vm.marriage.parties.groom.mother.firstName}} {{vm.marriage.parties.groom.mother.lastName}}</span>
</h2>
<h1 id="sub-title" class="text-center">Has Contracted Marriage According <br>to the Rite of the Roman Catholic Church
</h1>
<h2 class="spacer">&nbsp;</h2>

<h2>With <span class="print-values blank-800 recipient-name">{{vm.marriage.parties.bride.firstName}} {{vm.marriage.parties.bride.lastName}}</span>
    , <span class="print-values">{{vm.age(vm.marriage,'bride')}} yrs old</span></h2>

<h2>A native of <span class="print-values blank-600">{{vm.marriage.parties.bride.birthplace}}</span> and a resident of
</h2>
<h2><span class="print-values blank-1200">{{vm.marriage.parties.bride.address}}</span></h2>

<h2>Child of
    <span class="print-values blank-childOf">{{vm.marriage.parties.bride.father.firstName}} {{vm.marriage.parties.bride.father.lastName}}</span>
        and
    <span class="print-values blank-childOf">{{vm.marriage.parties.bride.mother.firstName}} {{vm.marriage.parties.bride.mother.lastName}}</span>
</h2>


<h2>On the
        <span class="print-values blank-150">
            {{vm.marriage.marriageDate| date:('d')}}
            <sup>{{vm.marriage.marriageDate | date:('d') | ordinal}}</sup>
        </span>

    day of
    <span class="print-values blank-300">{{vm.marriage.marriageDate | date:('MMMM')}}</span>
    <span class="print-values blank-300" id="marriage-year">{{vm.marriage.marriageDate | date:('y')}}</span>
</h2>
<h2>
    by <span id="marriage-priest" class="print-values blank-950">{{vm.marriage.minister.firstName}} {{vm.marriage.minister.lastName}}</span>
</h2>


<h2>The sponsors being
    <span class="print-values blank-340">{{vm.marriage.sponsors.first.firstName}} {{vm.marriage.sponsors.first.lastName}}</span>
    and
    <span class="print-values blank-340">{{vm.marriage.sponsors.second.firstName}} {{vm.marriage.sponsors.second.lastName}}</span>
</h2>
<h3>As appears from the Marriage Register
    Book #<span class="print-values blank-50">{{vm.marriage.bookNumber}}</span>,
    Page #<span class="print-values blank-50">{{vm.marriage.pageNumber}}</span>
</h3>
<h3>
    Date <span class="print-values blank-150">{{vm.marriage.created | date:('MMMM d, y')}}</span>
</h3>
