<section>
    <div class="page-header">
        <h1>{{vm.baptism._id ? 'Edit Baptism' : 'Create Baptism Certificate'}}</h1>
    </div>
    <div class="col-md-12">
        <form name="vm.form.birthForm" class="form-horizontal" ng-submit="vm.save()" novalidate>

            <textbox  data="vm.baptism.child" name="Child" type="fullname"></textbox>

            <textbox  data="vm.baptism.birthday" name="Birthday Date" type="date"></textbox>
            <textbox  data="vm.baptism.baptiseday" name="Baptism Date" type="date"></textbox>

            <textbox  data="vm.baptism" names="{address:'Address',placeOfBirth:'Place of Baptism'}" type="multitextbox"></textbox>

            <textbox  data="vm.baptism.legitimate" name="Legitimate" type="boolean"></textbox>

            <textbox  data="vm.baptism.parents.mother" name="Mother" type="fullname"></textbox>
            <textbox  data="vm.baptism.parents.father" name="Father" type="fullname"></textbox>
            <textbox  data="vm.baptism.minister" name="Minister" type="fullname"></textbox>
            <textbox  data="vm.baptism.sponsors.first" name="First Sponsor" type="fullname"></textbox>
            <textbox  data="vm.baptism.sponsors.second" name="Second Sponsor" type="fullname"></textbox>
            <textbox  data="vm.baptism" names="{bookNumber:'Book Number',pageNumber:'Page Number'}" type="multitextbox"></textbox>
            <textbox  data="vm.baptism.remarks" name="Remarks"></textbox>

            <div class="form-group">
                <button type="submit" class="btn btn-default">{{vm.baptism._id ? 'Update' : 'Create'}}</button>
            </div>
            <div ng-show="vm.error" class="text-danger">
                <strong ng-bind="vm.error"></strong>
            </div>
        </form>
    </div>
</section>
