<section>

    <h1>Baptismal Certificates <a data-ui-sref="baptisms.create()" class="pull-right btn btn-info">Create</a></h1>
    <p class="input-group">
        <input type="text" placeholder="Search By First Name or Last Name" class="form-control" ng-model="search.date"/>
          <span class="input-group-btn">
                <button ng-click="goSearch('delivery')" class="btn btn-default " type="button">Search</button>
          </span>
    </p>
  <table class="table table-striped">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birthday</th>
        <th>Minister</th>
        <th>Date Added</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    <tr data-ng-repeat="baptism in vm.baptisms">
        <td><a data-ui-sref="baptisms.view({ baptismId: baptism._id })">{{baptism.child.firstName}}</a></td>
        <td><a data-ui-sref="baptisms.view({ baptismId: baptism._id })">{{baptism.child.lastName}}</a></td>
        <td>{{baptism.birthday | date:'mediumDate'}}</td>
        <td>{{baptism.minister.firstName}} {{baptism.minister.lastName}}</td>
        <td>{{baptism.created | date:'mediumDate'}}</td>
        <td>
            <a class="btn btn-info btn-sm" data-ui-sref="baptisms.edit({ baptismId: baptism._id })">Edit</a>
            <a class="btn btn-primary btn-sm" href="/api/print/baptism/{{baptism._id}}">Print</a>
        </td>
        <td><a ng-click="vm.remove(baptism)" class="btn btn-danger btn-sm">Delete</a></td>
    </tr>
  </table>

  <div class="alert alert-warning text-center" data-ng-if="vm.baptisms.$resolved && !vm.baptisms.length">
    No Baptism Certicates yet, why don't you <a data-ui-sref="baptisms.create">create one</a>?
  </div>
</section>
