    <h1 id="main-title" class="text-center">Certificate of Baptism</h1>
    <h2 class="text-center">This is to certify</h2>
    <h2 class="spacer">&nbsp;</h2>
    <h2 class="spacer">&nbsp;</h2>
    <h2>That <span class="print-values blank-900"  id="recipient-name">{{vm.baptism.child.firstName}} {{vm.baptism.child.lastName}}</span> child of</h2>
    <h2><span class="print-values  blank-1200">{{vm.baptism.parents.father.firstName}} {{vm.baptism.parents.father.lastName}}</span>
        and
        <span class="print-values blank-1200">{{vm.baptism.parents.mother.firstName}} {{vm.baptism.parents.mother.lastName}}</span> </h2>
    <h2 class="spacer">&nbsp;</h2>

    <h2>Born in <span class="print-values blank-900">{{vm.baptism.address}}</span> on the</h2>
    <h2>
        <span class="print-values blank-150">
            {{vm.baptism.birthday | date:('d')}}
            <sup>{{vm.baptism.birthday | date:('d') | ordinal}}</sup>
        </span>

        day of
        <span class="print-values blank-300">{{vm.baptism.birthday | date:('MMMM')}}</span>
        <span class="print-values blank-300">{{vm.baptism.birthday | date:('y')}}</span>
    </h2>
    <h2 class="spacer">&nbsp;</h2>
    <h1 id="sub-title" class="text-center">Was Solemnly Baptized According <br>to the Rite of the Roman Catholic Church</h1>
    <h2 class="spacer">&nbsp;</h2>
    <h2>On the
        <span class="print-values blank-150">
            {{vm.baptism.baptiseday | date:('d')}}
            <sup>{{vm.baptism.baptiseday | date:('d') | ordinal}}</sup>
        </span>

        day of
        <span class="print-values blank-300">{{vm.baptism.baptiseday | date:('MMMM')}}</span>
        <span class="print-values blank-300">{{vm.baptism.baptiseday | date:('y')}}</span>
    </h2>
    <h2>
        by <span class="print-values blank-900">{{vm.baptism.minister.firstName}} {{vm.baptism.minister.lastName}}</span>
    </h2>
    <h2 class="spacer">&nbsp;</h2>
    <h2 class="spacer">&nbsp;</h2>
    <h2>The sponsors being
        <span class="print-values blank-700">{{vm.baptism.sponsors.first.firstName}} {{vm.baptism.sponsors.first.lastName}}</span>
        and
        <span class="print-values blank-900">{{vm.baptism.sponsors.second.firstName}} {{vm.baptism.sponsors.second.lastName}}</span>
    </h2>
    <h2 class="spacer">&nbsp;</h2>
    <h3>As appears from the Baptismal Register
        Book #<span class="print-values blank-150">{{vm.baptism.bookNumber}}</span>,
        Page #<span class="print-values blank-150">{{vm.baptism.pageNumber}}</span>
    </h3>
    <h3>
        Date <span class="print-values blank-150">{{vm.baptism.created | date:('MMMM d, y')}}</span>
    </h3>

