<h1 id="main-title" class="text-center">Certificate of Death</h1>
<h2 class="text-center">This is to certify</h2>
<h2 class="spacer">&nbsp;</h2>
<h2 class="spacer">&nbsp;</h2>

    <h2>That
        <span class="print-values blank-800"  id="recipient-name">
            {{vm.death.name.firstName}} {{vm.death.name.lastName}}
        </span>
            , <span class="print-values">{{vm.death.age}} yrs old</span>
    </h2>
    <h2> of <span class="print-values blank-800">{{vm.death.relative.firstName}} {{vm.death.relative.lastName}}</span> ,
        <span class="print-values blank-150" id="relative-type">{{vm.death.relativeType}}</span>
    </h2>
    <h2>&nbsp;</h2>
    <h2>A resident of <span class="print-values  blank-800" id="death-resident">{{vm.death.address}}</span></h2>
    <h2>&nbsp;</h2>
<h2>
    Died on
        <span class="print-values blank-150">
            {{vm.death.deathday | date:('d')}}
            <sup>{{vm.death.deathday | date:('d') | ordinal}}</sup>
        </span>

    day of
    <span class="print-values blank-300">{{vm.death.deathday | date:('MMMM')}}</span>
    <span class="print-values blank-300" id="death-year">{{vm.death.deathday | date:('y')}}</span>
</h2>

    <h2>&nbsp;</h2>
    <h1 id="sub-title" class="text-center">Was Solemnly Buried <br>in the Roman Catholic Cemetery</h1>
    <h2>&nbsp;</h2>
<h2 class="spacer">&nbsp;</h2>
<h2>On the
        <span class="print-values blank-150">
            {{vm.death.burriedday | date:('d')}}
            <sup>{{vm.death.burriedday | date:('d') | ordinal}}</sup>
        </span>

    day of
    <span class="print-values blank-300">{{vm.death.burriedday | date:('MMMM')}}</span>
    <span class="print-values blank-300" id="death-burried-year">{{vm.death.burriedday | date:('y')}}</span>
</h2>
<h2>
    by <span class="print-values blank-950" id="death-priest">{{vm.death.minister.firstName}} {{vm.death.minister.lastName}}</span>
</h2>
<h2 class="spacer">&nbsp;</h2>
<h2 class="spacer">&nbsp;</h2>
<h3>As appears from the Death Register
    Book #<span class="print-values blank-150">{{vm.death.bookNumber}}</span>,
    Page #<span class="print-values blank-150">{{vm.death.pageNumber}}</span>
</h3>
<h3>
    Date <span class="print-values blank-150">{{vm.death.created | date:('MMMM d, y')}}</span>
</h3>

<h2 class="spacer">&nbsp;</h2>
<h2 class="spacer">&nbsp;</h2>
