    <h1  id="main-title" class="text-center">Certificate of Confirmation</h1>
    <h2 class="text-center">This is to certify</h2>
    <h2 class="spacer">&nbsp;</h2>
    <h2 class="spacer">&nbsp;</h2>

    <h2>That <span class="print-values blank-900"  id="recipient-name">{{vm.confirmation.child.firstName}} {{vm.confirmation.child.lastName}}</span> child of</h2>
    <h2><span class="print-values  blank-1200">{{vm.confirmation.parents.father.firstName}} {{vm.confirmation.parents.father.lastName}}</span>
        and
        <span class="print-values blank-1200">{{vm.confirmation.parents.mother.firstName}} {{vm.confirmation.parents.mother.lastName}}</span> </h2>
    <h2 class="spacer">&nbsp;</h2>

    <h2 class="spacer">&nbsp;</h2>
    <h1 id="sub-title" class="text-center">Was Solemnly Confirmed According <br>to the Rite of the Roman Catholic Church</h1>
    <h2 class="spacer">&nbsp;</h2>
    <h2 class="spacer">&nbsp;</h2>
    <h2 class="spacer">&nbsp;</h2>
    <h2>On the
        <span class="print-values blank-150">
            {{vm.confirmation.confirmationDate | date:('d')}}
            <sup>{{vm.confirmation.confirmationDate | date:('d') | ordinal}}</sup>
        </span>

        day of
        <span class="print-values blank-300">{{vm.confirmation.confirmationDate | date:('MMMM')}}</span>
        <span class="print-values blank-300">{{vm.confirmation.confirmationDate | date:('y')}}</span>
    </h2>
    <h2>
        by <span class="print-values blank-900">{{vm.confirmation.minister.firstName}} {{vm.confirmation.minister.lastName}}</span>
    </h2>
    <h2 class="spacer">&nbsp;</h2>
    <h2 class="spacer">&nbsp;</h2>
    <h2>The sponsors being
        <span class="print-values blank-700">{{vm.confirmation.sponsors.first.firstName}} {{vm.confirmation.sponsors.first.lastName}}</span>
        and
        <span class="print-values blank-900">{{vm.confirmation.sponsors.second.firstName}} {{vm.confirmation.sponsors.second.lastName}}</span>
    </h2>
    <h2 class="spacer">&nbsp;</h2>
    <h3>As appears from the Confirmational Register
        Book #<span class="print-values blank-150">{{vm.confirmation.bookNumber}}</span>,
        Page #<span class="print-values blank-150">{{vm.confirmation.pageNumber}}</span>
    </h3>
    <h3>
        Date <span class="print-values blank-150">{{vm.confirmation.created | date:('MMMM d, y')}}</span>
    </h3>

    <h2 class="spacer">&nbsp;</h2>
    <h2 class="spacer">&nbsp;</h2>
    <h2 class="spacer">&nbsp;</h2>